.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
data/oulad-interactions-filtered.csv

example-script.R

**/*.quarto_ipynb

# Local scratch and archived materials
archive/
_freeze/
.RDataTmp

# macOS metadata
.DS_Store

# Tools and stray artifacts
bfg-1.14.0.jar
wordcloud.html
wordcloud.png
